In [ ]:
s1 = input("enter a string")
s2 = s1[::-1]

if s1 == s2:
   print ("its a palindrome")
else:
   print ("its not a palindrome")

enter a stringbus
its not a palindrome

In [ ]:
l1 = [10,20,30]

print(l1)

del l1[: :]

print(l1)

[10, 20, 30]
[]

In [ ]:
l1 = ['aaa', 'bbbb', 'cccc']

print(max(l1, key = len))

bbbb

In [ ]:
l1 = [10, 20]

print(l1)

appendNumber = int(input('How many number you want append to the list: '))

for i in range(appendNumber):
  l1.append(i*10)

print(l1)

[10, 20]
How many number you want append to the list: 6
[10, 20, 0, 10, 20, 30, 40, 50]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]
l2 = []

for i in l1:
  if i not in l2:
      l2.append(i)

print(l2)

[10, 20, 30, 45]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]

for i in l1:
  if i in l1:
    l1.remove(i)

print(l1)

In [ ]:
i = int(input("enter a number"))
j = 1

while j<11:
      print(i," * ", j, " = ", i*j)
      j = j+1

enter a number5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [6]:
list1 = [1,2,3,4,5]

print(list1.pop(1))

print(list1)

2
[1, 3, 4, 5]

In [7]:
str = 'NTTData'

l = list(str)

print(l)

['N', 'T', 'T', 'D', 'a', 't', 'a']

In [14]:
l1 = [2, 3, 3, 2, 4, 4, 4, 6, 7, 8]

l2 = list()

l3 = list()

for i in l1:
  if i not in l2:
    l2.append(i)

for j in l2:
  counter = 0
  for k in range(len(l1)):
    if j == l1[k]:
      counter += 1
  l3.append(counter)

print(l2)
print(l3)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 1, 1, 1]