In [ ]:
s1 = input("enter a string")
s2 = s1[::-1]

if s1 == s2:
   print ("its a palindrome")
else:
   print ("its not a palindrome")

enter a stringbus
its not a palindrome

In [9]:
str = 'I live in Bangalore city and Mumbai city'
list1 = list(str.split(' '))

dict1 = {}

print(list1)

for key in list1:
  if key not in dict1:
    dict1[key] = list1.count(key)

print(dict1)

['I', 'live', 'in', 'Bangalore', 'city', 'and', 'Mumbai', 'city']
{'I': 1, 'live': 1, 'in': 1, 'Bangalore': 1, 'city': 2, 'and': 1, 'Mumbai': 1}

In [ ]:
d1 = {'key1': (4,3) , 'Key2': 4}

print(d1)

{'key1': (4, 3), 'Key2': 4}

In [ ]:
d1 = {2: 100, 4: 200, 6: 300, 8: 400, 10: 500}

print(d1)
print(type(d1))

print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100
500

In [ ]:
d2 = {'aa': 100, 'bb': 200, 'cc': 300, 'dd': 400}

print(d2)

print(d2['cc'])

{'aa': 100, 'bb': 200, 'cc': 300, 'dd': 400}
300

In [ ]:
d3 = {3: [1,2,3], 6: (4,5,6), 9: 'NTT'}

print(d3)

print(d3[3])

print(d3[6])

print(d3[9])

{3: [1, 2, 3], 6: (4, 5, 6), 9: 'NTT'}
[1, 2, 3]
(4, 5, 6)
NTT

In [ ]:
d4 = {(1,2): 100, (3,4): 200, (5,6): 300}
print(d4)
print(d4[(1,2)])

for i in d4.keys():
  print(i)
  print(d4[i])

for v in d4.values():
  print(v)

for items in d4.items():
  print(items)

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
100
(1, 2)
100
(3, 4)
200
(5, 6)
300
100
200
300
((1, 2), 100)
((3, 4), 200)
((5, 6), 300)

In [ ]:
l1 = [10,20,30]

print(l1)

del l1[: :]

print(l1)

[10, 20, 30]
[]

In [ ]:
l1 = ['aaa', 'bbbb', 'cccc']

print(max(l1, key = len))

bbbb

In [ ]:
l1 = [10, 20]

print(l1)

appendNumber = int(input('How many number you want append to the list: '))

for i in range(appendNumber):
  l1.append(i*10)

print(l1)

[10, 20]
How many number you want append to the list: 6
[10, 20, 0, 10, 20, 30, 40, 50]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]
l2 = []

for i in l1:
  if i not in l2:
      l2.append(i)

print(l2)

[10, 20, 30, 45]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]

for i in l1:
  if i in l1:
    l1.remove(i)

print(l1)

In [ ]:
i = int(input("enter a number"))
j = 1

while j<11:
      print(i," * ", j, " = ", i*j)
      j = j+1

enter a number5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [ ]:
list1 = [1,2,3,4,5]

print(list1.pop(1))

print(list1)

2
[1, 3, 4, 5]

In [ ]:
str = 'NTTData'

l = list(str)

print(l)

['N', 'T', 'T', 'D', 'a', 't', 'a']

In [ ]:
l1 = [2, 3, 3, 2, 4, 4, 4, 6, 7, 8]

l2 = list()

l3 = list()

for i in l1:
  if i not in l2:
    l2.append(i)

for j in l2:
  counter = 0
  for k in range(len(l1)):
    if j == l1[k]:
      counter += 1
  l3.append(counter)

print(l2)
print(l3)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 1, 1, 1]

In [ ]:
d1 = {1:100, 2:200, 3:300}

d2 = d1.copy()
d3 = d2

d1.update({4:400})

print(d1)
print(d2)
print(d3)

{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}

In [ ]:
k = [1,2,3,4]
v = [10,20,30]

d1 = dict(zip(k,v))

print(d1)

{1: 10, 2: 20, 3: 30}